/*styles.css*/
  body {
    /*background: url('/assets/yytf\ \(2\).jpeg');*/
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
